/* All styles for your header Components live here */

.header-container {
    /* border: 3px solid orange;  */
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
}

.header-img-container {
    border: 2px solid blue;
    width: 20%;
}

.header-img {
    width: 100%;
}

.header-content-container {
    border: 2px solid hotpink;
    padding: 2px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}

.header-top-line {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.header-body-text {
    line-height: 1.2;
}

.gray {
    color: gray;
}